@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body {
  background-color: #000; 
  color: white; 
  font-family: 'Montserrat', sans-serif; 
}

.pricing-table {
  width: 80%; 
  margin: 20px auto; 
  border-collapse: collapse;
  border-radius: 10px; 
  overflow: hidden; 
}

.pricing-table th, .pricing-table td {
  padding: 10px; 
  text-align: center;
}

.pricing-table th {
  background-color: #000; 
  color: white; 
}

.pricing-table tfoot tr {
  background-color: #000; 
}

.pricing-table tfoot td {
  padding: 10px;
  text-align: center; 
  font-weight: bold; 
  font-size: 18px; 
}

#calculateButton {
  display: block;
  font-weight: bold; 
  font-family: 'Montserrat', sans-serif; 
  margin: 20px auto; 
  padding: 15px 30px; 
  font-size: 18px; 
  background-color: #ff9f00; 
  color: #000000; 
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease; 
}

#calculateButton:hover {
  box-shadow: 0 0 20px 5px rgba(255, 159, 0, 0.5); 
}

input[type="number"] {
  width: calc(100% - 10px); 
  height: 40px; 
  font-size: 16px; 
  font-family: 'Montserrat', sans-serif; 
  color: white; 
  padding: 0 5px; 
  background: transparent; 
  border: none; 
  outline: none; 
  position: relative; 
}

input[type="number"]::placeholder {
  color: white; 
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

hr.input-underline {
  border: none;
  border-top: 1px solid white; 
  margin: 0; 
}

.input-column {
  width: 10%; 
}

#overallTotal {
  text-align: center; 
  font-weight: bold; 
  font-size: 22px; 
  font-family: 'Montserrat', sans-serif; 
}

.pricing-table:hover {
  box-shadow: 0 0 20px 5px rgb(251, 184, 13); 
  transition: box-shadow 0.8s ease; 
}

#rrc {
  text-align: center; 
  margin-top: 20px; 
  font-family: 'Montserrat', sans-serif; 
}

#calculator-links {
  text-align: center; 
  font-size: 14px; 
  margin-top: 10px; 
  font-family: 'Montserrat', sans-serif;
}

#calculator-links a {
  color: white; 
  text-decoration: none; 
  font-family: 'Montserrat', sans-serif; 
}

#calculator-links a:hover {
  text-decoration: underline; 
  font-family: 'Montserrat', sans-serif; 
}


.pricing-table tbody tr {
  background-color: #111; 
  transition: background-color 0.3s; 
}


.pricing-table tbody tr:hover {
  background-color: #333;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: black; 
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white; 
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
}

#logo {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

#calculator-links {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.input-column input {
  width: 100%;
}

.table-spacing {
  height: 20px;
}


#weightCalculationTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

#weightCalculationTable th, #weightCalculationTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid white; 
}

#weightCalculationTable th {
  background-color: #000;
  color: white;
}

#weightCalculationTable tfoot tr {
  background-color: #000;
}

#weightCalculationTable tfoot td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}


#calculateWeightButton {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff9f00;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease;
}

#calculateWeightButton:hover {
  box-shadow: 0 0 20px 5px rgba(255, 159, 0, 0.5);
}


#weightCalculationTable input[type="number"] {
  width: calc(100% - 10px);
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

#weightCalculationTable input[type="number"]::placeholder {
  color: white;
}

#weightCalculationTable input[type="number"]::-webkit-inner-spin-button, 
#weightCalculationTable input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}


#weightCalculationTable hr.input-underline {
  border: none;
  border-top: 1px solid white;
  margin: 0;
}


#weightCalculationTable tbody tr {
  background-color: #111;
  transition: background-color 0.3s;
}

#weightCalculationTable tbody tr:hover {
  background-color: #333;
}



#weightCalculationTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

#weightCalculationTable th, #weightCalculationTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid white; 
}

#weightCalculationTable th {
  background-color: #000;
  color: white;
}

#weightCalculationTable tfoot tr {
  background-color: #000;
}

#weightCalculationTable tfoot td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}


#calculateWeightButton {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff9f00;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease;
}

#calculateWeightButton:hover {
  box-shadow: 0 0 20px 5px rgba(255, 159, 0, 0.5);
}


#weightCalculationTable input[type="number"] {
  width: calc(100% - 10px);
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

#weightCalculationTable input[type="number"]::placeholder {
  color: white;
}

#weightCalculationTable input[type="number"]::-webkit-inner-spin-button, 
#weightCalculationTable input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}


#weightCalculationTable hr.input-underline {
  border: none;
  border-top: 1px solid white;
  margin: 0;
}


#weightCalculationTable tbody tr {
  background-color: #111;
  transition: background-color 0.3s;
}

#weightCalculationTable tbody tr:hover {
  background-color: #333;
}

.hidden { display: none;  }

.img {
  position: absolute;
  left: 460px;
  width: 600px;
  border-radius: 50px;
}

.log {
  position: absolute;
  left: 7px;
  width: 300px;
}
