@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Стили для таблиц с ценами */
body {
  background-color: #000; /* Черный цвет фона страницы */
  color: white; /* Белый цвет текста */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
}

.pricing-table {
  width: 80%; /* Уменьшаем ширину таблицы */
  margin: 20px auto; /* Центрируем таблицу по горизонтали и добавляем немного отступа сверху и снизу */
  border-collapse: collapse;
  border-radius: 10px; /* Задаем округление углов */
  overflow: hidden; /* Обрезаем содержимое таблицы, если оно выходит за границы округленных углов */
}

.pricing-table th, .pricing-table td {
  padding: 10px; /* Увеличиваем внутренний отступ ячеек */
  text-align: center;
}

.pricing-table th {
  background-color: #000; /* Черный цвет для заголовков */
  color: white; /* Белый цвет текста в заголовках */
}

.pricing-table tfoot tr {
  background-color: #000; /* Черный цвет для нижнего колонтитула */
}

.pricing-table tfoot td {
  padding: 10px;
  text-align: center; /* Центрируем текст в итоговых ячейках */
  font-weight: bold; /* Делаем текст жирным */
  font-size: 18px; /* Увеличиваем размер текста */
}

#calculateButton {
  display: block;
  font-weight: bold; /* Жирный шрифт */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
  margin: 20px auto; /* Располагаем по центру */
  padding: 15px 30px; /* Увеличиваем внутренний отступ */
  font-size: 18px; /* Увеличиваем размер шрифта */
  background-color: #ff9f00; /* Оранжевый цвет кнопки */
  color: #000000; /* Черный цвет текста */
  border: none;
  border-radius: 20px; /* Задаем округление углов */
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease; /* Медленное появление эффекта свечения */
}

#calculateButton:hover {
  box-shadow: 0 0 20px 5px rgba(255, 159, 0, 0.5); /* Светящийся эффект свечения */
}

input[type="number"] {
  width: calc(100% - 10px); /* Ширина поля ввода с учетом отступов */
  height: 40px; /* Высота поля ввода */
  font-size: 16px; /* Размер шрифта */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
  color: white; /* Белый цвет текста */
  padding: 0 5px; /* Внутренний отступ */
  background: transparent; /* Прозрачный фон */
  border: none; /* Убираем границы */
  outline: none; /* Убираем контур фокуса */
  position: relative; /* Позиционируем относительно */
}

input[type="number"]::placeholder {
  color: white; /* Белый цвет плейсхолдера */
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; /* Убираем стандартные кнопки вращения */
  margin: 0; /* Убираем отступы */
}

hr.input-underline {
  border: none;
  border-top: 1px solid white; /* Устанавливаем белую линию сверху */
  margin: 0; /* Убираем отступы */
}

.input-column {
  width: 10%; /* Пример уменьшения ширины столбца до 10% */
}

#overallTotal {
  text-align: center; /* Выравниваем по центру */
  font-weight: bold; /* Делаем текст жирным */
  font-size: 22px; /* Увеличиваем размер текста для общей стоимости */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
}

.pricing-table:hover {
  box-shadow: 0 0 20px 5px rgb(251, 184, 13); /* Тень с желтым цветом */
  transition: box-shadow 0.8s ease; /* Увеличиваем время анимации */
}

#rrc {
  text-align: center; /* Центрируем текст заголовка */
  margin-top: 20px; /* Добавляем отступ сверху */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
}

#calculator-links {
  text-align: center; /* Центрируем ссылки */
  font-size: 14px; /* Уменьшаем размер шрифта */
  margin-top: 10px; /* Добавляем отступ сверху */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
}

#calculator-links a {
  color: white; /* Белый цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
}

#calculator-links a:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении */
  font-family: 'Montserrat', sans-serif; /* Используем шрифт Montserrat */
}

/* Добавляем стили к строкам таблицы */
.pricing-table tbody tr {
  background-color: #111; /* Цвет фона для строк */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

/* При наведении на строку изменяем цвет фона */
.pricing-table tbody tr:hover {
  background-color: #333;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Черный цвет фона с небольшой прозрачностью */
}

.modal-content {
  background-color: black; /* Черный цвет фона внутри модального окна */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white; /* Белый цвет текста внутри модального окна */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* main.css */

body {
  font-family: Arial, sans-serif;
}

#logo {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

#calculator-links {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.input-column input {
  width: 100%;
}

.table-spacing {
  height: 20px;
}

/* Дополненные стили */
#weightCalculationTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

#weightCalculationTable th, #weightCalculationTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid white; /* Добавлены границы для ячеек */
}

#weightCalculationTable th {
  background-color: #000;
  color: white;
}

#weightCalculationTable tfoot tr {
  background-color: #000;
}

#weightCalculationTable tfoot td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* Дополненные стили для кнопки */
#calculateWeightButton {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff9f00;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease;
}

#calculateWeightButton:hover {
  box-shadow: 0 0 20px 5px rgba(255, 159, 0, 0.5);
}

/* Дополненные стили для ввода */
#weightCalculationTable input[type="number"] {
  width: calc(100% - 10px);
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

#weightCalculationTable input[type="number"]::placeholder {
  color: white;
}

#weightCalculationTable input[type="number"]::-webkit-inner-spin-button, 
#weightCalculationTable input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

/* Дополненные стили для подчеркивания */
#weightCalculationTable hr.input-underline {
  border: none;
  border-top: 1px solid white;
  margin: 0;
}

/* Дополненные стили для строк таблицы */
#weightCalculationTable tbody tr {
  background-color: #111;
  transition: background-color 0.3s;
}

#weightCalculationTable tbody tr:hover {
  background-color: #333;
}


/* Дополненные стили */
#weightCalculationTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}

#weightCalculationTable th, #weightCalculationTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid white; /* Добавлены границы для ячеек */
}

#weightCalculationTable th {
  background-color: #000;
  color: white;
}

#weightCalculationTable tfoot tr {
  background-color: #000;
}

#weightCalculationTable tfoot td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* Дополненные стили для кнопки */
#calculateWeightButton {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff9f00;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease;
}

#calculateWeightButton:hover {
  box-shadow: 0 0 20px 5px rgba(255, 159, 0, 0.5);
}

/* Дополненные стили для ввода */
#weightCalculationTable input[type="number"] {
  width: calc(100% - 10px);
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

#weightCalculationTable input[type="number"]::placeholder {
  color: white;
}

#weightCalculationTable input[type="number"]::-webkit-inner-spin-button, 
#weightCalculationTable input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

/* Дополненные стили для подчеркивания */
#weightCalculationTable hr.input-underline {
  border: none;
  border-top: 1px solid white;
  margin: 0;
}

/* Дополненные стили для строк таблицы */
#weightCalculationTable tbody tr {
  background-color: #111;
  transition: background-color 0.3s;
}

#weightCalculationTable tbody tr:hover {
  background-color: #333;
}

.hidden { display: none; /* Досвидания, невидимый мир! */ }

.img {
  position: absolute;
  left: 460px;
  width: 600px;
  border-radius: 50px;
}

.log {
  position: absolute;
  left: 7px;
  width: 300px;
}
